<div class="footer">
    <p class="footer__copyright">&copy; 2013-2018 RePrice Company S.L. All rights reserved.</p>
</div>

<!-- confirmation popup -->
<div class="popup-confirmation-overlay">
    <div class="popup-confirmation">
        <div class="popup-confirmation__close js_confirmation-cancel"></div>
        <div class="popup-confirmation__title">
            Вы точно хотите <br> закрыть окно?
        </div>
        <div class="popup-confirmation__content">
            Если вы закроете окно, все введенные
            данные будут потеряны
        </div>
        <div class="popup-form-btns">
            <span class="action-btn js_confirmation-cancel">Остаться</span>
            <span class="cancel-btn js_confirmation-confirm">Закрыть</span>
        </div>
    </div>
</div>